:root{
  /* var styles to input */
  --color-border-input:#607EAA;
  --color-border-input-select:#1C3879;
  --height-input:2rem;
  --width-input:250px;
  --font-size-input:1.1rem;
  /*var styles to button*/
  --color-bg-login:#506D84;
  --height-btn:2.3rem;
}
body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:url("./back1.svg");
  background-repeat:no-repeat;
  background-size:cover;
}

/*styles container form - login*/

.container-login{
  width:380px;
  height:370px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  border-radius:10px;
}

.container-form{
  box-sizing:border-box;
  background-color:var(--color-bg-login);
  display:flex;
  flex-direction:column;
  height:100%;
  border-radius:10px;
}
h1{
  color:white;
  font-family:sans-serif;
  text-align:center;
  text-shadow:1px 1px 3px rgba(1,1,1,0.4),
  1px 1px 7px rgba(1,1,1,0.4),
  1px 1px 11px rgba(1,1,1,0.4),
  1px 1px 15px rgba(1,1,1,0.4);
}

/* styles input form*/
.container-input{
  margin-top:2rem;
  display:flex;
  justify-content:center;
}

::placeholder{ color:white;}
/*disable arrows input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input{
  border:none;
  color:white;
  height:var(--height-input);
  width:var(--width-input);
  font-size:1rem;
  background-color:var(--color-bg-login);
  border-bottom:3px solid var(--color-border-input);
}
input:focus{
  outline:none;
  border-bottom:3px solid var(--color-border-input-select);
}

/* styles button form*/
.container-button{
  margin-top:auto;
  margin-bottom:3.3rem;
  width:100%;
  display:flex;
  justify-content:center;
}
button{
  color:white;
  height:var(--height-btn);
  font-size:var(--font-size-input);
  width:var(--width-input);
  background-color:#3CCF4E;
  border:none;
  border-radius:7px;
}
button:hover{
  cursor: pointer;
}
